[submodule "repos/nems-scripts"]
	path = repos/nems-scripts
	url = https://github.com/Cat5TV/nems-scripts
[submodule "repos/nems-admin"]
	path = repos/nems-admin
	url = https://github.com/Cat5TV/nems-admin
[submodule "repos/nems-migrator"]
	path = repos/nems-migrator
	url = https://github.com/Cat5TV/nems-migrator
[submodule "repos/nems-www"]
	path = repos/nems-www
	url = https://github.com/Cat5TV/nems-www
[submodule "repos/nconf"]
	path = repos/nconf
	url = https://github.com/Cat5TV/nconf
[submodule "repos/rpi-mkimg"]
	path = repos/rpi-mkimg
	url = https://github.com/Cat5TV/rpi-mkimg
[submodule "repos/nems-tools"]
	path = repos/nems-tools
	url = https://github.com/Cat5TV/nems-tools
[submodule "repos/nems-wmic"]
	path = repos/nems-wmic
	url = https://github.com/Cat5TV/nems-wmic
[submodule "repos/nems-docs"]
	path = repos/nems-docs
	url = https://github.com/Cat5TV/nems-docs
[submodule "repos/nems-plugins"]
	path = repos/nems-plugins
	url = https://github.com/NEMSLinux/nems-plugins
[submodule "repos/hw-detect"]
	path = repos/hw-detect
	url = https://github.com/NEMSLinux/hw-detect
[submodule "repos/temper"]
	path = repos/temper
	url = https://github.com/NEMSLinux/temper
[submodule "repos/nems-migrator-data"]
	path = repos/nems-migrator-data
	url = https://github.com/NEMSLinux/nems-migrator-data
[submodule "repos/nems-saas-probe"]
	path = repos/nems-saas-probe
	url = https://github.com/NEMSLinux/nems-saas-probe
[submodule "repos/wmic"]
	path = repos/wmic
	url = https://github.com/NEMSLinux/wmic
[submodule "repos/nems-tv"]
	path = repos/nems-tv
	url = https://github.com/NEMSLinux/nems-tv
[submodule "repos/9590"]
	path = repos/9590
	url = https://github.com/NEMSLinux/9590
[submodule "repos/nems-commits"]
	path = repos/nems-commits
	url = https://github.com/NEMSLinux/nems-commits
